pre {
  word-wrap: normal;
  word-break: normal;
  border: 1px solid #eee;
}

pre, code {
  background-color: #202020;
  color: #d0d0d0;
}

pre code {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

pre .img {
  margin: 5px 0;
}

pre .img img {
  background-color: #fff;
  display: block;
  height: auto;
}

code a, pre a {
  color: #375f84;
}

a.sourceLine:hover {
  text-decoration: none;
}

.fl      {color: #1514b5;}
.fu      {color: #447fcf;} /* function */
.ch,.st  {color: #ed9d13;} /* string */
.kw      {color: #6ab825;} /* keyword */
.co      {color: #999999;} /* comment */

.message { color: #24909d;   font-weight: bolder;}
.error   { color: orange;  font-weight: bolder;}
.warning { color: #6A0366; font-weight: bolder;}

